<section class="bg-gray" id="attend">
    <div class="container text-center">
        <div class="row">
          <div class="call-to-action">
              <h2>ATTEND</h2>
              <hr class="primary">
          </div>
        </div>
        <div class="row no-gutter">
            <div class="col-md-12" align="left">
                <h4>MMCM 2024 will be a hybrid workshop, with both in-person and virtual attendance options. The in-person event will be held at the <b>Seattle Convention Center, Room Arch 304</b>, and simultaneously available via the CVPR Virtual Platform.</h4>
                <h4>Conference content hosted on CVPR virtual platform will be available exclusively to registered attendees. Accepted papers in the conference proceedings will be publicly available via the CVF website, with the final version posted to IEEE Xplore after the conference.</h4>
<!--                <h4>📢 Website is live!</h4>-->
<!--                <h4>📢 CMT submission site is open! Check out <a target="_blank" href="https://cmt3.research.microsoft.com/MMCM2024/Submission/Index">https://cmt3.research.microsoft.com/MMCM2024/Submission/Index</a></h4>-->
<!--                <h4>📢 New Final Decision Date: <b>April 10, 2023, 11:59:59 Pacific Time</b> (Check <a class="page-scroll" href="#dates">Important Dates</a>)</h4>-->
            </div>
        </div>
    </div>
</section>