<section class="bg-gray" id="bio">
    <div class="container">
        <div class="row">
            <div class="call-to-action text-center">
                <h2>INVITED SPEAKERS & PANELISTS BIO</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row no-gutter">

            <div class="col-md-4 text-center" id="S1_dp" style="margin-bottom: 30px">
                <a href="https://www.linkedin.com/in/lamaahmad" target="_blank">
                    <img src="img/portfolio/lamaahmad.jpeg" style="border-radius: 50%;" alt=""
                         width="96">
                    <h4>Lama Ahmad</h4>
                </a>
            </div>

            <div class="col-md-8" id="S1_info" style="margin-bottom: 30px; text-align: justify">
                Lama Ahmad leads the Researcher Access Program at OpenAI, which facilitates collaborative research on key areas related to the responsible deployment of AI and mitigating risks associated with such systems. Most recently, she co-led the external red teaming effort for the DALL-E 2 deployment. A member of the Deployment Planning team at OpenAI, Lama works on conducting analyses to prepare for safe and successful deployment of increasingly advanced AI.
            </div>
        </div>

        <div class="row no-gutter">

            <div class="col-md-4 text-center" id="S2_dp" style="margin-bottom: 30px">
                <a href="https://uk.linkedin.com/in/mevanbabakar" target="_blank">
                    <img src="img/portfolio/mevan.jpeg" style="border-radius: 50%;" alt=""
                         width="96">
                    <h4>Mevan Babakar</h4>
                </a>
            </div>

            <div class="col-md-8" id="S2_info" style="margin-bottom: 30px; text-align: justify">
                Mevan is the News and Information Credibility Lead at Google, working to tackle misinformation globally, and to support journalists and publishers around the world. Previously she was deputy CEO of Full Fact, the UK’s independent fact checking charity where she worked on the problems mis/disinformation for seven years and founded Full Fact's automated fact checking team. Mevan was previously Interim CEO at Democracy Club which empowers voters and everyday democracy in the UK. Mevan also sat on the board of the International Fact Checking Network, which oversees 300 fact checking organizations worldwide.
            </div>
        </div>

        <div class="row no-gutter">

            <div class="col-md-4 text-center" id="S3_dp" style="margin-bottom: 30px">
                <a href="https://cyber.fsi.stanford.edu/io/people/renee-diresta" target="_blank">
                    <img src="img/portfolio/renee.jpeg" style="border-radius: 50%;" alt=""
                         width="96">
                    <h4>Renée DiResta</h4>
                </a>
            </div>

            <div class="col-md-8" id="S3_info" style="margin-bottom: 30px; text-align: justify">
                Renée DiResta is the Research Manager at the Stanford Internet Observatory. She investigates the spread of malign narratives across social networks and assists policymakers in understanding and responding to the problem. She has advised Congress, the State Department, and other academic, civic, and business organizations, and has studied disinformation and computational propaganda in the context of pseudoscience conspiracies, terrorism, and state-sponsored information warfare.
            </div>
        </div>

        <div class="row no-gutter">

            <div class="col-md-4 text-center" id="S4_dp" style="margin-bottom: 30px">
                <a href="https://www.ischool.berkeley.edu/people/hany-farid" target="_blank">
                    <img src="img/portfolio/hany.jpeg" style="border-radius: 50%;" alt=""
                         width="96">
                    <h4>Hany Farid</h4>
                </a>
            </div>

            <div class="col-md-8" id="S4_info" style="margin-bottom: 30px; text-align: justify">
                Hany Farid is a professor at the University of California, Berkeley with a joint appointment in electrical engineering & computer sciences and the School of Information. He is also a member of the Berkeley Artificial Intelligence Lab, Berkeley Institute for Data Science, Center for Innovation in Vision and Optics, Development Engineering, Vision Science Program, and is a senior faculty advisor for the Center for Long-Term Cybersecurity. His research focuses on digital forensics, forensic science, misinformation, image analysis, and human perception.
                <hr style="height:1px; visibility:hidden; margin: 0px;" />
                He received his undergraduate degree in computer science and applied mathematics from the University of Rochester in 1989, his M.S. in computer science from SUNY Albany, and his Ph.D. in computer science from the University of Pennsylvania in 1997. Following a two-year post-doctoral fellowship in brain and cognitive sciences at MIT, he joined the faculty at Dartmouth College in 1999 where he remained until 2019.
                <hr style="height:1px; visibility:hidden; margin: 0px;" />
                He is the recipient of an Alfred P. Sloan Fellowship and a John Simon Guggenheim Fellowship and is a fellow of the National Academy of Inventors.

            </div>
        </div>

        <div class="row no-gutter">

            <div class="col-md-4 text-center" id="S5_dp" style="margin-bottom: 30px">
                <a href="https://www.microsoft.com/en-us/research/people/tarleton/" target="_blank">
                    <img src="img/portfolio/tarleton.jpeg" style="border-radius: 50%;" alt=""
                         width="96">
                    <h4>Tarleton Gillespie</h4>
                </a>
            </div>

            <div class="col-md-8" id="S5_info" style="margin-bottom: 30px; text-align: justify">
                Tarleton Gillespie is a Senior Principal Researcher at Microsoft Research New England, part of the Social Media Collective, Microsoft Research’s team of sociologists, anthropologists, and communication & media scholars studying the impact of sociotechnical systems on social and political life. Tarleton also retains an affiliated Associate Professor position with Cornell University, where he has been on the faculty for nearly two decades.
                <hr style="height:1px; visibility:hidden; margin: 0px;" />
                Tarleton’s current work investigates how social media platforms and other algorithmic information systems shape public discourse. His latest book, <i>Custodians of the Internet: Platforms, Content Moderation, and the Hidden Decisions that Shape Social Media</i> (Yale University Press, 2018) examines how the content guidelines imposed by social media platforms set the terms for what counts as ‘appropriate’ user contributions, and ask how this private governance of cultural values has broader implications for freedom of expression and the character of public discourse. The book was a finalist for the 2019 PROSE Award from Association of American Publishers (AAP).

            </div>
        </div>

<!--        <div class="row no-gutter">-->

<!--            <div class="col-md-4 text-center" id="S6_dp" style="margin-bottom: 30px">-->
<!--                <a href="https://www.linkedin.com/in/kevinguo91" target="_blank">-->
<!--                    <img src="img/portfolio/kevin.jpeg" style="border-radius: 50%;" alt=""-->
<!--                         width="96">-->
<!--                    <h4>Kevin Guo</h4>-->
<!--                </a>-->
<!--            </div>-->

<!--            <div class="col-md-8" id="S6_info" style="margin-bottom: 30px; text-align: justify">-->
<!--                Kevin is Co-Founder and CEO of Hive, the leading provider of cloud-based enterprise AI solutions to power the next wave of intelligent automation. Prior to Hive, Kevin worked with Peter Thiel as a growth-stage tech investor and was a summer fellow at Lightspeed Venture Partners. He is also an author of a dozen peer-reviewed publications on image processing in the biomedical space. He holds a BS and MS in computer science from Stanford University.-->
<!--            </div>-->
<!--        </div>-->

        <div class="row no-gutter">

            <div class="col-md-4 text-center" id="S6_dp" style="margin-bottom: 30px">
                <a href="https://www.linkedin.com/in/dkarpman/" target="_blank">
                    <img src="img/portfolio/dmitriy.jpeg" style="border-radius: 50%;" alt=""
                         width="96">
                    <h4>Dmitriy Karpman</h4>
                </a>
            </div>

            <div class="col-md-8" id="S6_info" style="margin-bottom: 30px; text-align: justify">
                Dmitriy Karpman is currently the Co-Founder and CTO at Hive. Dmitriy has also previously worked as a software engineering intern at Google and as the CTO and Co-Founder of Kiwi. Dmitriy has a wealth of experience in research, having worked as a research specialist at the Center for Geospatial Intelligence and as a research assistant at Washington University in St. Louis. Dmitriy received their Doctor of Philosophy in Computer Science from Stanford University. Dmitriy also holds a Bachelor of Science from the University of Missouri-Columbia in Computer Science, Mathematics, and Statistics.
            </div>
        </div>

        <div class="row no-gutter">

            <div class="col-md-4 text-center" id="S7_dp" style="margin-bottom: 30px">
                <a href="https://www.ischool.utexas.edu/~ml/" target="_blank">
                    <img src="img/portfolio/matt.jpeg" style="border-radius: 50%;" alt=""
                         width="96">
                    <h4>Matt Lease</h4>
                </a>
            </div>

            <div class="col-md-8" id="S7_info" style="margin-bottom: 30px; text-align: justify">
                Matthew Lease received degrees in Computer Science from Brown University (PhD, MSc) and the University of Washington (BSc). His research on information retrieval and crowdsourcing was recognized by three Early Career awards: from the Defense Advanced Research Projects Agency (DARPA), the National Science Foundation (NSF), and the Institute for Museum and Library Sciences (IMLS). More recent honors include Best Student Paper at the 2019 European Conference for Information Retrieval (ECIR) and Best Paper at the 2016 Association for the Advancement of Artificial Intelligence (AAAI) Human Computation and Crowdsourcing conference (HCOMP). From 2010-2013, Lease ran benchmarking challenges for the National Institute of Standards and Technology (NIST) Text Retrieval Conference (TREC). Lease's industry experience includes stints at Intel Research, Computer game company HyperBole Studios, image compression startup LizardTech, crowdsourcing startup CrowdFlower, and Amazon.
            </div>
        </div>

        <div class="row no-gutter">

            <div class="col-md-4 text-center" id="S8_dp" style="margin-bottom: 30px">
                <a href="https://manlikemishap.github.io/" target="_blank">
                    <img src="img/portfolio/pamela.jpeg" style="border-radius: 50%;" alt=""
                         width="96">
                    <h4>Pamela Mirshkin</h4>
                </a>
            </div>

            <div class="col-md-8" id="S8_info" style="margin-bottom: 30px; text-align: justify">
                Pamela Mirshkin is interested in how to make language models safe and fair, from a technical and policy perspective. Previously she Led product management at The Whistle, a small start-up building tech tools for international human rights groups. Before that, she researched economic policy at the Federal Reserve Bank of New York and worked with the Department of Digital Culture, Media and Sport in the UK on online advertising policy. She holds a BA in Computer Science and Math from Williams College and an MPhil in Technology Policy from the University of Cambridge (Herchel-Smith Fellow).
            </div>
        </div>

        <div class="row no-gutter">

            <div class="col-md-4 text-center" id="S9_dp" style="margin-bottom: 30px">
                <a href="https://norouzi.github.io/" target="_blank">
                    <img src="img/portfolio/mohammad.jpeg" style="border-radius: 50%;" alt=""
                         width="96">
                    <h4>Mohammad Norouzi</h4>
                </a>
            </div>

            <div class="col-md-8" id="S9_info" style="margin-bottom: 30px; text-align: justify">
                Mohammad Norouzi is the co-founder of Imagen, a text-to-image diffusion model with an unprecedented degree of photorealism and a deep level of language understanding. He was a staff research scientist at Google Brain in Toronto. He is interested in developing simple and efficient machine learning algorithms that help solve challenging problems across a broad range of application domains including natural language processing and computer vision.
                <hr style="height:1px; visibility:hidden; margin: 0px;" />
                He joined the Google brain team in Mountain View in January 2016 and moved to Toronto in January 2018. He completed his PhD in computer science at the University of Toronto in December 2015. His advisor was David Fleet, and he was supported by a Google PhD fellowship in machine learning. His PhD thesis focused on scalable similarity search. He is from Iran, where he finished undergraduate studies at Sharif University of Technology.

            </div>
        </div>

        <div class="row no-gutter">

            <div class="col-md-4 text-center" id="S10_dp" style="margin-bottom: 30px">
                <a href="https://www.linkedin.com/in/lilianweng" target="_blank">
                    <img src="img/portfolio/lilian.jpeg" style="border-radius: 50%;" alt=""
                         width="96">
                    <h4>Lilian Weng</h4>
                </a>
            </div>

            <div class="col-md-8" id="S10_info" style="margin-bottom: 30px; text-align: justify">
                Lilian is an Applied AI Research Manager at OpenAI. Lilian also has a ML tech blog as she believes the best way to learn is by explaining a new concept clearly to others.
            </div>
        </div>

        <div class="row no-gutter">

            <div class="col-md-4 text-center" id="S11_dp" style="margin-bottom: 0px">
                <a href="https://eas.caltech.edu/people/perona" target="_blank">
                    <img src="img/portfolio/pietro.jpg" style="border-radius: 50%;" alt=""
                         width="96">
                    <h4>Pietro Perona</h4>
                </a>
            </div>

            <div class="col-md-8" id="S11_info" style="margin-bottom: 0px; text-align: justify">
                Professor Perona is currently interested in visual recognition, more specifically visual categorization. He is studying how machines can learn to recognize frogs, cars, faces and trees with minimal human supervision, and how machines can learn from human experts. His project `Visipedia' has produced two smart device apps (iNaturalist and Merlin Bird ID) that anyone can use to recognize the species of plants and animals from a photograph.
                <hr style="height:1px; visibility:hidden; margin: 0px;" />
                In collaboration with Professors Anderson and Dickinson, professor Perona is building vision systems and statistical techniques for measuring actions and activities in fruit flies and mice. This enables geneticists and neuroethologists to investigate the relationship between genes, brains, and behavior. Professor Perona is also interested in studying how humans perform visual tasks, such as searching and recognizing image content. One of his recent projects studies how to harness the visual ability of thousands of people on the web.

            </div>
        </div>

    </div>


</section>