<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome!</h2>
                <hr class="light">
<!--                <p class="text-faded">-->
                  <p>Welcome to the <strong>1<sup>st</sup> IEEE Workshop on Multimodal Content Moderation (MMCM)</strong> being held in conjunction with <a href="https://cvpr2023.thecvf.com/" style="color: #f0ed40">CVPR 2023</a></p>
<!--                <a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
