<section class="bg-gray" id="cfp">
    <div class="container text-center">
        <div class="row">
          <div class="call-to-action">
              <h2>CALL FOR PAPERS</h2>
              <hr class="primary">
          </div>
        </div>
        <div class="row no-gutter">
            <div class="col-md-12 text-center">
                <p class="bg-gray" align="justify">This workshop intends to draw more visibility and interest to this challenging field, and establish a platform to foster in-depth idea exchange and collaboration. Authors are invited to submit original and innovative papers. We aim for broad scope, topics of interest include but are not limited to:</p>
                <ul class="bg-gray" align="left">
                <li>Multi-modal content moderation in image, video, audio/speech, text;</li>
                <li>Context aware content moderation;</li>
                <li>Datasets/benchmarks/metrics for content moderation;</li>
                <li>Annotations for content moderation with ambiguous policies, perspectivism, noisy or disagreeing labels;</li>
                <li>Content moderation for synthetic/generated data (image, video, audio, text); utilizing synthetic dataset;</li>
                <li>Dealing with limited data for content moderation.</li>
                <li>Continual & adversarial learning in content moderation services;</li>
                <li>Explainability and interpretability of models;</li>
                <li>Challenges of at-scale real-time content moderation needs vs. human-in-the-loop moderation;</li>
                <li>Detecting misinformation;</li>
                <li>Detecting/mitigating biases in content moderation;</li>
                <li>Analyses of failures in content moderation.</li>
                </ul>
                <br>
                <p class="bg-gray" align="justify"><b>Accepted papers will be included in the CVPR proceedings, on IEEE Xplore, and on CVF website.</b></p>
                <p class="bg-gray" align="justify"><b>Submission Link: <a target="_blank" href="https://cmt3.research.microsoft.com/MMCM2023/Submission/Index">https://cmt3.research.microsoft.com/MMCM2023/Submission/Index</a></b></p>
            </div>
        </div>
    </div>
<!--    <br><br>-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12 text-center">-->
<!--                <h2 class="section-heading">IMPORTANT DATES</h2>-->
<!--                <hr class="primary">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row no-gutter">-->
<!--            <table style="width: 100%;">-->
<!--            	<tbody>-->
<!--                    <tr style="border-bottom: 1px solid black; height: 30px">-->
<!--            			<th class="th-1-Width">Event</th>-->
<!--            			<th>Date</th>-->
<!--            		</tr>-->
<!--            		<tr style="border-bottom: 1px solid black; height: 30px">-->
<!--            			<td><b>Paper Submission Deadline</b></td>-->
<!--            			<td><b>March 20, 2023, 11:59:59 Pacific Time</b></td>-->
<!--            		</tr>-->
<!--                    <tr style="border-bottom: 1px solid black; height: 30px">-->
<!--            			<td>Final Decisions to Authors</td>-->
<!--            			<td>TBD</td>-->
<!--            		</tr>-->
<!--                    <tr style="border-bottom: 1px solid black; height: 30px">-->
<!--            			<td>Camera Ready Deadline</td>-->
<!--            			<td>TBD</td>-->
<!--            		</tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
</section>