<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>If you have any questions, please feel free to reach us at below</p>
            </div>
            <div class="row no-gutter">
                <div class="col-md-6 text-center">
                    <h4>Workshop Related</h4>
                    <a href="mailto:mei.chen@microsoft.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>mei.chen@microsoft.com</p>
                    </a>
                </div>
                <div class="col-md-6 text-center">
                    <h4>Website Related</h4>
                    <a href="mailto:gaurav.mittal@microsoft.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>gaurav.mittal@microsoft.com</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
