<section class="bg-gray" id="dates">

      <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">IMPORTANT DATES</h2>
                <hr class="primary">
            </div>
        </div>


        <div class="row no-gutter">
            <table style="width: 100%;">
            	<tbody>
            		<tr style="border-bottom: 1px solid black; height: 30px">
            			<th class="th-1-Width">Event</th>
            			<th>Date</th>
            		</tr>
            		<tr style="border-bottom: 1px solid black; height: 30px">
            			<td><b>Paper Submission Deadline</b></td>
            			<td><b>March 22, 2023, 11:59:59 Pacific Time</b>&nbsp;&nbsp;<s>March 20, 2023, 11:59:59 Pacific Time</s></td>
            		</tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
            			<td>Final Decisions to Authors</td>
            			<td>April 2, 2023, 11:59:59 Pacific Time</td>
            		</tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
            			<td>Camera Ready Deadline</td>
            			<td>April 8, 2023, 11:59:59 Pacific Time</td>
            		</tr>
                </tbody>
            </table>
            <br>
            <p class="bg-gray" align="justify">Authors are required to submit full papers by the paper submission deadline. These are hard deadlines due to the tight timeline; no extensions will be given. Please note that due to the tight timeline to have accepted papers included in the CVPR proceedings, no supplemental materials or rebuttal will be accepted.</p>

        </div>

    </div>
</section>