<header>
    <div class="header-content" style="color:white; background-color: rgba(0, 0, 0, 0.8);">
        <div class="header-content-inner" >
            <h1>Workshop on Multimodal Content Moderation (MMCM)</h1>
            <hr>
            <h2>at 2024 IEEE International Conference on Computer Vision and Pattern Recognition (CVPR)</h2>
            <h3>Date: June 17, 2024</h3>
            <h3>Venue: Room Arch 304, Seattle Convention Center, Seattle WA, USA</h3>
<!--            <a href="#about" class="btn btn-primary btn-xl page-scroll">Welcome</a>-->
        </div>
    </div>
</header>
