<section class="bg-gray" id="new">
    <div class="container text-center">
        <div class="row">
          <div class="call-to-action">
              <h2>WHAT'S NEW</h2>
              <hr class="primary">
          </div>
        </div>
        <div class="row no-gutter">
            <div class="col-md-12" align="left">
                <h4>📢 Website is live!</h4>
                <h4>📢 CMT submission site is open! Check out <a target="_blank" href="https://cmt3.research.microsoft.com/MMCM2024/Submission/Index">https://cmt3.research.microsoft.com/MMCM2024/Submission/Index</a></h4>
                <h4>📢 New Final Decision Date: <b>April 10, 2023, 11:59:59 Pacific Time</b> (Check <a class="page-scroll" href="#dates">Important Dates</a>)</h4>
            </div>
        </div>
    </div>
</section>