<section class="bg-gray" id="organizers">
<div class="container text-center">
      <div class="row">
          <div class="call-to-action">
              <h2>ORGANIZERS</h2>
              <hr class="primary">
          </div>
      </div>
        <div class="row no-gutter">
            <div class="col-md-3">
                        <a href="http://vivoutlaw.github.io/" target="_blank" class="portfolio-box">
                            <img src="../img/portfolio/VivekSharma.png" class="img-responsive" alt="">
                            <br><p>Mei Chen</p>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Mei Chen
                                    </div>
                                    <div class="project-name">
                                    Principal Research Manager, Responsible & OpenAi Research, Microsoft
                                    </div>
                                </div>
                            </div>
                        </a>
                </div>

                <div class="col-md-3" >
                    <a href="http://mohsenfayyaz89.github.io" target="_blank" class="portfolio-box">
                        <img src="img/portfolio/MohsenFayyaz.png" class="img-responsive" alt="">
                        <br><p>Cristian Canton</p>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Cristian Canton
                                </div>
                                <div class="project-name">
                                    Cristian Canton, Responsible AI, Meta
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="https://cs.stanford.edu/~shyamal/" target="_blank" class="portfolio-box">
                        <img src="../tutorials/img/portfolio/ShaymalBuch.png" class="img-responsive" alt="">
                        <br><p>Davide Modolo</p>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Davide Modolo
                                </div>
                                <div class="project-name">
                                    Research Manager, AWS AI Labs, Amazon
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="https://www.esat.kuleuven.be/psi/members/00098021" target="_blank" class="portfolio-box">
                        <img src="img/portfolio/AliDiba.png" class="img-responsive" alt="">
                        <br><p>Maarten Sap</p>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Maarten Sap
                                </div>
                                <div class="project-name">
                                    Assistant Professor, Language Technologies Institute, Carnegie Mellon University
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>


        <div class="row no-gutter">
            <div class="col-md-3">
                <a href="https://www.vision.ee.ethz.ch/en/members/get_member.cgi?id=1" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/LucVanGool.png" class="img-responsive" alt="">
                    <br><p>Maria Zontak</p>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Maria Zontak
                            </div>
                            <div class="project-name">
                                Sr. Applied Scientist, Alexa Sensitive Content Intelligence, Amazon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://gall.cv-uni-bonn.de/" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/JuergenGall.png" class="img-responsive" alt="">
                    <br><p>Chris Bregler</p>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Chris Bregler
                            </div>
                            <div class="project-name">
                                Director / Principal Scientist, Google AI
                            </div>
                        </div>
                    </div>
                </a>
            </div>
<!--            <div class="col-md-3" >-->
<!--                    <a href="https://web.stanford.edu/~eadeli/" target="_blank" class="portfolio-box">-->
<!--                        <img src="../workshops/img/portfolio/EhsanAdeli.png" class="img-responsive" alt="">-->
<!--                        <br><p>Ehsan Adeli</p>-->
<!--                        <div class="portfolio-box-caption">-->
<!--                            <div class="portfolio-box-caption-content">-->
<!--                                <div class="project-category text-faded">-->
<!--                                    Ehsan Adeli-->
<!--                                </div>-->
<!--                                <div class="project-name">-->
<!--                                    Faculty at Computational Neurosience Lab and affiliated with Stanford AI Lab and Stanford Vision Lab-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                    <a href="http://www.cs.toronto.edu/~dross/" target="_blank" class="portfolio-box">-->
<!--                        <img src="img/portfolio/DavidRoss.png" class="img-responsive" alt="">-->
<!--                        <br><p>David Ross</p>-->
<!--                        <div class="portfolio-box-caption">-->
<!--                            <div class="portfolio-box-caption-content">-->
<!--                                <div class="project-category text-faded">-->
<!--                                    David Ross-->
<!--                                </div>-->
<!--                                <div class="project-name">-->
<!--                                    Head of the Visual Dynamics research group, Google AI Perception-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--            </div>-->
<!--           <div class="col-md-3">-->
<!--                    <a href="https://cvhci.anthropomatik.kit.edu/people_596.php" target="_blank" class="portfolio-box">-->
<!--                        <img src="img/portfolio/RainerStiefelhagen.png" class="img-responsive" alt="">-->
<!--                        <br><p>Rainer Stiefelhagen</p>-->
<!--                        <div class="portfolio-box-caption">-->
<!--                            <div class="portfolio-box-caption-content">-->
<!--                                <div class="project-category text-faded">-->
<!--                                    Rainer Stiefelhagen-->
<!--                                </div>-->
<!--                                <div class="project-name">-->
<!--                                    Full Professor at the Karlsruhe Institute of Technology (KIT)-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                    <a href="https://research.fb.com/people/paluri-manohar/" target="_blank" class="portfolio-box">-->
<!--                        <img src="img/portfolio/ManoharPaluri.png" class="img-responsive" alt="">-->
<!--                        <br><p>Manohar Paluri</p>-->
<!--                        <div class="portfolio-box-caption">-->
<!--                            <div class="portfolio-box-caption-content">-->
<!--                                <div class="project-category text-faded">-->
<!--                                    Manohar Paluri-->
<!--                                </div>-->
<!--                                <div class="project-name">-->
<!--                                    Director in Facebook AI Research-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--            </div>-->
        </div>

    </div>


</section>