<section class="bg-gray" id="organizers">
    <div class="container text-center">
        <div class="row">
            <div class="call-to-action">
                <h2>ORGANIZERS</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row no-gutter">

            <div class="col-md-4 text-center" id="O1" style="margin-bottom: 30px">
                <a href="https://www.microsoft.com/en-us/research/people/meic/" target="_blank">
                    <img src="img/portfolio/mei.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Mei Chen</h3>
                </a>
                Principal Research Manager <br> Responsible & OpenAi Research, Microsoft

            </div>

            <div class="col-md-4 text-center" id="O2" style="margin-bottom: 30px">
                <a href="https://cristiancanton.github.io/" target="_blank">
                    <img src="img/portfolio/cristian.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Cristian Canton</h3></a>
                Research Manager <br> Responsible AI, Meta
            </div>

            <div class="col-md-4 text-center" id="O3" style="margin-bottom: 30px">
                <a href="https://davidemodolo.wordpress.com/" target="_blank">
                    <img src="img/portfolio/davide.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Davide Modolo</h3>
                </a>
                Research Manager <br> AWS AI Labs, Amazon
            </div>

            <div class="col-md-4 text-center" id="O4" style="margin-bottom: 0px">
                <a href="https://maartensap.com/" target="_blank">
                    <img src="img/portfolio/maarten.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Maarten Sap</h3>
                </a>
                Assistant Professor <br> LTI, Carnegie Mellon University
            </div>

            <div class="col-md-4 text-center" id="O5" style="margin-bottom: 0px">
                <a href="https://www.linkedin.com/in/maria-zontak-0272135/" target="_blank">
                    <img src="img/portfolio/maria.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Maria Zontak</h3>
                </a>
                Sr. Applied Scientist <br> Alexa Sensitive Content Intelligence, Amazon
            </div>

            <div class="col-md-4 text-center" id="O6" style="margin-bottom: 0px">
                <a href="https://www.ischool.utexas.edu/~ml/" target="_blank">
                    <img src="img/portfolio/matt.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Matt Lease</h3>
                </a>
                Professor <br> UT Austin
            </div>

<!--            <div class="col-md-4 text-center" id="O6" style="margin-bottom: 0px">-->
<!--                <a href="http://chris.bregler.com/" target="_blank">-->
<!--                    <img src="img/portfolio/chris.jpeg" style="border-radius: 50%;" alt=""-->
<!--                         width="128">-->
<!--                    <h3>Chris Bregler</h3>-->
<!--                </a>-->
<!--                Director / Principal Scientist <br> Google AI-->
<!--            </div>-->
        </div>

    </div>


</section>