<section id="previous">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Previous Years</h2>
                <hr class="primary">
                <p>Check out the proceedings from previous years!</p>
            </div>
<!--        <div class="col-lg-2 col-lg-offset-2 text-center">-->
<!--            <a href="https://twitter.com/{{ site.twitter_username }}">-->
<!--                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>-->
<!--                <p>{{ site.twitter_username }}</p>-->
<!--            </a>-->
<!--        </div>-->
            <div class="row no-gutter">
                <div class="col-md-8 col-lg-offset-2 text-center">
                    <a href="/mmcm23/index.html">
                    MMCM @ CVPR 2023
                    </a>
                </div>
        <!--        <div class="col-lg-2 col-lg-offset-1 text-center">-->
        <!--            <a href="https://github.com/{{ site.github_username }}">-->
        <!--            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>-->
        <!--                <p>{{ site.github_username }}</p>-->
        <!--            </a>-->
        <!--        </div>-->
            </div>

        </div>
    </div>
</section>
