<section class="bg-gray" id="programcommittee">
    <div class="container text-center">
        <div class="row">
          <div class="call-to-action">
              <h2>PROGRAM COMMITTEE</h2>
              <hr class="primary">
          </div>
        </div>
        <div class="row no-gutter">
<!--            <div class="col-md-6 text-center">-->
<!--                <ul class="bg-gray" align="left">-->
<!--                    <li><b>Jiarui Cai</b>, Applied Scientist, AWS AI Labs</li>-->
<!--                    <li><b>Athiya Deviyani</b>, MS student, CMU</li>-->
<!--                    <li><b>Ivan Evtimov</b>, Researcher, Meta AI</li>-->
<!--                    <li><b>Saadia Gabriel</b>, PhD student, University of Washington</li>-->
<!--                    <li><b>Matt Hall</b>, Senior Applied Scientist, Microsoft Cloud & AI</li>-->
<!--                    <li><b>Caner Hazirbas</b>, Senior Researcher, Meta AI</li>-->
<!--                    <li><b>Liwei Jiang</b>, PhD student, University of Washington</li>-->
<!--                    <li><b>Kaustav Kundu</b>, Senior Applied Scientist, AWS AI Labs</li>-->
<!--                    <li><b>Soumik Mandal</b>, Applied Scientist, Amazon</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="col-md-6 text-center">-->
<!--                <ul class="bg-gray" align="left">-->
<!--                    <li><b>Gaurav Mittal</b>, Senior Researcher, Microsoft Cloud & AI</li>-->
<!--                    <li><b>Madhukar Mukkamala</b>, Applied Scientist, Amazon</li>-->
<!--                    <li><b>Ji Min Mun</b>, PhD student, CMU</li>-->
<!--                    <li><b>Sandra Sajeev</b>, Data Scientist II, Microsoft Cloud & AI</li>-->
<!--                    <li><b>Sebastin Santy</b>, PhD student, University of Washington</li>-->
<!--                    <li><b>Akhila Yerukola</b>, PhD student, CMU</li>-->
<!--                    <li><b>Ye Yu</b>, Senior Software Engineer, Microsoft Cloud & AI</li>-->
<!--                    <li><b>Youngjae Yu</b>, Young Investigator, Allen Institute for AI</li>-->
<!--                    <li><b>Xuhui Zhou</b>, PhD student, CMU</li>-->
<!--                </ul>-->
<!--            </div>-->

            <div class="col-md-6 text-center">
                <ul class="bg-gray" align="left">
                    <li><b>Christopher Clarke</b>, PhD student, University of Michigan</li>
                    <li><b>Gaurav Mittal</b>, Senior Researcher, Microsoft</li>
                    <li><b>J.P. Lewis</b>, Staff Research Scientist, Google Research</li>
                    <li><b>Jay	Patravali</b>, Data & Applied Scientist II, Microsoft</li>
                    <li><b>Jialin Yuan</b>, PhD Student, Oregon State University</li>
                    <li><b>Jiarui Cai</b>, Applied Scientist, AWS AI Labs</li>
                    <li><b>Lan	Wang</b>, PhD Student, Michigan State University</li>
                    <li><b>Mahmoud	Khademi</b>, Researcher 2, Microsoft</li>
                    <li><b>Mamshad Nayeem Rizve</b>, PhD Student, University of Central Florida</li>
                    <li><b>Matthew	Hall</b>, Principal Applied Scientist, Microsoft</li>
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <ul class="bg-gray" align="left">
                    <li><b>Reid Pryzant</b>, Senior Researcher, Microsoft</li>
                    <li><b>Rishi Madhok</b>, Senior Applied Science Manager, Microsoft</li> 
                    <li><b>Sandra Sajeev</b>, Data Scientist 2, Microsoft</li>
                    <li><b>Sarah Laszlo</b>, Staff Research Scientist, Google Research</li>
                    <li><b>Satarupa Guha</b>, Applied Scientist II, Microsoft</li>
                    <li><b>Simon Baumgartner</b>, Software Engineer, Google Research</li>
                    <li><b>Soumik Mandal</b>, Applied Scientist, Amazon</li>
                    <li><b>Tobias Rohde</b>, Applied Scientist II, Amazon</li>
                    <li><b>Xuhui Zhou</b>, PhD student, Carnegie Mellon University</li>
                    <li><b>Ye Yu</b>, Senior Software Engineer, Microsoft</li>
                    <li><b>Zhen Gao</b>, Applied Scientist II,	Amazon</li>
                    </ul>
            </div>
        </div>
    </div>
</section>