<section class="bg-gray" id="program">

      <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">TENTATIVE PROGRAM</h2>
                <hr class="primary">
            </div>
        </div>


        <div class="row no-gutter">
            <table style="width: 100%;">
            	<tbody>
            		<tr>
            			<th class="th-1-Width">Session</th>
            			<th>Start Time (PST)</th>
<!--            			<th class="th-2-Width">Talk Title</th>-->
<!--						<th class="th-3-Width">Speaker(s)</th>-->
            		</tr>
            		<tr>
            			<td>Opening Remarks</td>
            			<td>8:30AM</td>
<!--            			<td>Welcome to CVMI 2022 & Logistics for Hybrid Format</td>-->
<!--						<td>Mei Chen (Microsoft)</td>-->
            		</tr>
            		<tr>
            			<td>Invited Talks (2)</td>
            			<td>8:45AM</td>
<!--            			<td>Information in Images for Drug Discovery: Image-based Profiling</td>-->
<!--						<td>Anne E. Carpenter (Broad Institute of Harvard and MIT)</td>-->
            		</tr>
					<tr>
            			<td>Coffee Break</td>
            			<td>9:45AM</td>
<!--            			<td>Information in Images for Drug Discovery: Image-based Profiling</td>-->
<!--						<td>Anne E. Carpenter (Broad Institute of Harvard and MIT)</td>-->
            		</tr>
					<tr>
            			<td>Invited Talks (2)</td>
            			<td>10:00AM</td>
<!--            			<td>Information in Images for Drug Discovery: Image-based Profiling</td>-->
<!--						<td>Anne E. Carpenter (Broad Institute of Harvard and MIT)</td>-->
            		</tr>
					<tr>
            			<td>Panel Discussion with Invited Speakers</td>
            			<td>11:00AM</td>
<!--            			<td>Information in Images for Drug Discovery: Image-based Profiling</td>-->
<!--						<td>Anne E. Carpenter (Broad Institute of Harvard and MIT)</td>-->
            		</tr>
					<tr>
            			<td>Lunch</td>
            			<td>12:00 noon</td>
<!--            			<td>Information in Images for Drug Discovery: Image-based Profiling</td>-->
<!--						<td>Anne E. Carpenter (Broad Institute of Harvard and MIT)</td>-->
            		</tr>
					<tr>
            			<td>Invited talks (2)</td>
            			<td>1:00PM</td>
<!--            			<td>Information in Images for Drug Discovery: Image-based Profiling</td>-->
<!--						<td>Anne E. Carpenter (Broad Institute of Harvard and MIT)</td>-->
            		</tr>
					<tr>
            			<td>Accepted Paper Presentations </td>
            			<td>2:00PM</td>
<!--            			<td>Information in Images for Drug Discovery: Image-based Profiling</td>-->
<!--						<td>Anne E. Carpenter (Broad Institute of Harvard and MIT)</td>-->
            		</tr>
					<tr>
            			<td>Poster/Demo Session & Coffee Break </td>
            			<td>3:00PM</td>
<!--            			<td>Information in Images for Drug Discovery: Image-based Profiling</td>-->
<!--						<td>Anne E. Carpenter (Broad Institute of Harvard and MIT)</td>-->
            		</tr>
					<tr>
            			<td>Invited talks (2)</td>
            			<td>3:30PM</td>
<!--            			<td>Information in Images for Drug Discovery: Image-based Profiling</td>-->
<!--						<td>Anne E. Carpenter (Broad Institute of Harvard and MIT)</td>-->
            		</tr>
					<tr>
            			<td>Panel Discussion with Invited Speakers</td>
            			<td>4:30PM</td>
<!--            			<td>Information in Images for Drug Discovery: Image-based Profiling</td>-->
<!--						<td>Anne E. Carpenter (Broad Institute of Harvard and MIT)</td>-->
            		</tr>
					<tr>
            			<td>Closing Remarks</td>
            			<td>5:30PM</td>
<!--            			<td>Information in Images for Drug Discovery: Image-based Profiling</td>-->
<!--						<td>Anne E. Carpenter (Broad Institute of Harvard and MIT)</td>-->
            		</tr>
                </tbody>
            </table>

        </div>

    </div>
</section>