<section class="bg-gray" id="programcommittee">
    <div class="container text-center">
        <div class="row">
          <div class="call-to-action">
              <h2>PROGRAM COMMITTEE</h2>
              <hr class="primary">
          </div>
        </div>
        <div class="row no-gutter">
            <div class="col-md-6 text-center">
                <ul class="bg-gray" align="left">
                    <li>Jiarui Cai, Applied Scientist, AWS AI Labs</li>
                    <li>Athiya Deviyani, MS student, CMU</li>
                    <li>Ivan Evtimov, Researcher, Meta AI</li>
                    <li>Saadia Gabriel, PhD student, University of Washington</li>
                    <li>Matt Hall, Senior Applied Scientist, Microsoft Cloud & AI</li>
                    <li>Caner Hazirbas, Senior Researcher, Meta AI</li>
                    <li>Liwei Jiang, PhD student, University of Washington</li>
                    <li>Kaustav Kundu, Senior Applied Scientist, AWS AI Labs</li>
                    <li>Soumik Mandal, Applied Scientist, Amazon</li>
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <ul class="bg-gray" align="left">
                    <li>Gaurav Mittal, Senior Researcher, Microsoft Cloud & AI</li>
                    <li>Madhukar Mukkamala, Applied Scientist, Amazon</li>
                    <li>Ji Min Mun, PhD student, CMU</li>
                    <li>Sandra Sajeev, Data Scientist II, Microsoft Cloud & AI</li>
                    <li>Sebastin Santy, PhD student, University of Washington</li>
                    <li>Akhila Yerukola, PhD student, CMU</li>
                    <li>Ye Yu, Senior Software Engineer, Microsoft Cloud & AI</li>
                    <li>Youngjae Yu, Young Investigator, Allen Institute for AI</li>
                    <li>Xuhui Zhou, PhD student, CMU</li>
                </ul>
            </div>
        </div>
    </div>
</section>