<section class="bg-gray" id="program">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">PROGRAM</h2>
                <hr class="primary">
            </div>
        </div>


        <div class="row no-gutter">
            <table style="width: 100%;">
                <tbody>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <th class="th-1-Width" style="width:80%">Session</th>
                        <th>Start - End (PST)</th>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Opening Remarks and Logistics for the Day</td>
                        <td>08:30 AM - 08:45 AM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Lama Ahmad & Pamela Mishkin, OpenAI, "Red teaming Generative AI Systems"
                        </td>
                        <td>08:45 AM - 09:15 AM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Mevan Babakar, Google, "Fact Checks and Fact Checking"</td>
                        <td>09:15 AM - 09:45 AM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Tarleton Gillespie, Microsoft, "Content Moderation: Two Histories and Three
                            Emerging Problems"
                        </td>
                        <td>09:45 AM - 10:15 AM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Coffee Break</td>
                        <td>10:15 AM - 10:30 AM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Pietro Perona, Amazon, "Bias, Causality and Generative AI"</td>
                        <td>10:30 AM -11:00 AM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Panel (Lama, Pamela, Mevan, Renée, Tarleton, Pietro) on Policy, Social
                            Impact, Trust & Safety)
                        </td>
                        <td>11:00 AM - 11:45 AM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Lunch Break</td>
                        <td>11:45 AM - 01:00 PM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Mohammad Norouzi, Stealth Startup, "Generative Media Unleashed: Advancing
                            Media Generation with Safety in Mind"
                        </td>
                        <td>01:00 PM - 01:30 PM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Dmitriy Karpman, Hive AI, "Data Collection for Content Moderation"</td>
                        <td>01:30 PM - 02:00 PM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Accepted paper, "CrisisHateMM: Multimodal Analysis of Directed and
                            Undirected Hate Speech in Text-Embedded Images from Russia-Ukraine Conflict"
                        </td>
                        <td>02:00 PM - 02:15 PM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Accepted paper, "Prioritised Moderation for Online Advertising"</td>
                        <td>02:15 PM - 02:30 PM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Matt Lease, UT Austin, “Understanding Health Risks for Content Moderators
                            and Opportunities to Help”
                        </td>
                        <td>02:30 PM - 03:00 PM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Coffee Break</td>
                        <td>03:00 PM - 03:30 PM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Todor Markov, OpenAI, “Building end-to-end content moderation pipelines in
                            the real world”
                        </td>
                        <td>03:30 PM - 04:00 PM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Hany Farid, UC Berkeley, “Disrupting Disinformation”
                        </td>
                        <td>04:00 PM - 04:30 PM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Panel (Mohammad, Dmitriy, Matt, Todor, Hany) on technology & approach
                        </td>
                        <td>04:30 PM - 05:15 PM</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Closing remarks
                        </td>
                        <td>05:15 PM - 05:30 PM</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</section>