<section class="bg-gray" id="programcommittee">
    <div class="container text-center">
        <div class="row">
          <div class="call-to-action">
              <h2>PROGRAM COMMITTEE</h2>
              <hr class="primary">
          </div>
        </div>
        <div class="row no-gutter">
            <div class="col-md-6 text-center">
                <ul class="bg-gray" align="left">
                    <li><b>Jiarui Cai</b>, Applied Scientist, AWS AI Labs</li>
                    <li><b>Athiya Deviyani</b>, MS student, CMU</li>
                    <li><b>Ivan Evtimov</b>, Researcher, Meta AI</li>
                    <li><b>Saadia Gabriel</b>, PhD student, University of Washington</li>
                    <li><b>Matt Hall</b>, Senior Applied Scientist, Microsoft Cloud & AI</li>
                    <li><b>Caner Hazirbas</b>, Senior Researcher, Meta AI</li>
                    <li><b>Liwei Jiang</b>, PhD student, University of Washington</li>
                    <li><b>Kaustav Kundu</b>, Senior Applied Scientist, AWS AI Labs</li>
                    <li><b>Soumik Mandal</b>, Applied Scientist, Amazon</li>
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <ul class="bg-gray" align="left">
                    <li><b>Gaurav Mittal</b>, Senior Researcher, Microsoft Cloud & AI</li>
                    <li><b>Madhukar Mukkamala</b>, Applied Scientist, Amazon</li>
                    <li><b>Ji Min Mun</b>, PhD student, CMU</li>
                    <li><b>Sandra Sajeev</b>, Data Scientist II, Microsoft Cloud & AI</li>
                    <li><b>Sebastin Santy</b>, PhD student, University of Washington</li>
                    <li><b>Akhila Yerukola</b>, PhD student, CMU</li>
                    <li><b>Ye Yu</b>, Senior Software Engineer, Microsoft Cloud & AI</li>
                    <li><b>Youngjae Yu</b>, Young Investigator, Allen Institute for AI</li>
                    <li><b>Xuhui Zhou</b>, PhD student, CMU</li>
                </ul>
            </div>
        </div>
    </div>
</section>