<section class="bg-gray" id="speakers">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">INVITED SPEAKERS & PANELISTS (More to come!)</h2>
                <hr class="primary">
<!--                TBD-->
            </div>
        </div>
        <div class="row no-gutter">

            <div class="col-md-4 text-center" id="S1" style="margin-bottom: 30px">
                <a href="https://www.sagilbert.com/" target="_blank">
                    <img src="img/portfolio/sarah.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Sarah Gilbert</h3>
                </a>
                Research Director, Citizens and Technology Lab <br>Cornell University
            </div>

            <div class="col-md-4 text-center" id="S2" style="margin-bottom: 30px">
                <a href="https://www.cs.columbia.edu/~julia/" target="_blank">
                    <img src="img/portfolio/julia.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Julia Hirschberg</h3>
                </a>
                Professor <br>Columbia University & Amazon Scholar
            </div>

            <div class="col-md-4 text-center" id="S3" style="margin-bottom: 30px">
                <a href="https://ai.meta.com/people/adina-williams/" target="_blank">
                    <img src="img/portfolio/adina.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Adina Williams</h3>
                </a>
                Research Scientist <br>Meta
            </div>
        </div>
    </div>
</section>