<section class="bg-gray" id="speakers">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">INVITED SPEAKERS & PANELISTS</h2>
                <hr class="primary">
<!--                TBD-->
            </div>
        </div>
        <div class="row no-gutter">

            <div class="col-md-4 text-center" id="S1" style="margin-bottom: 30px">
                <a href="https://www.linkedin.com/in/mike-pappas-9a30a858" target="_blank">
                    <img src="img/portfolio/mike.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Mike Pappas</h3>
                </a>
                CEO/Co-founder<br>Modulate AI
            </div>

            <div class="col-md-4 text-center" id="S2" style="margin-bottom: 30px">
                <a href="https://www.sagilbert.com/" target="_blank">
                    <img src="img/portfolio/sarah.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Sarah Gilbert</h3>
                </a>
                Research Director, Citizens and Technology Lab <br>Cornell University
            </div>

            <div class="col-md-4 text-center" id="S3" style="margin-bottom: 30px">
                <a href="https://www.linkedin.com/in/xiang1hao/" target="_blank">
                    <img src="img/portfolio/xiang.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Xiang Hao</h3>
                </a>
                Principal Applied Scientist<br>Prime Video at Amazon
            </div>

            <div class="col-md-4 text-center" id="S4" style="margin-bottom: 30px">
                <a href="https://www.linkedin.com/in/susanna-ricco" target="_blank">
                    <img src="img/portfolio/susanna.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Susanna Ricco</h3>
                </a>
                Senior Staff Software Engineer <br>Google DeepMind
            </div>

            <div class="col-md-4 text-center" id="S5" style="margin-bottom: 30px">
                <a href="https://sciences.utsa.edu/faculty/profiles/najafirad-peyman.html" target="_blank">
                    <img src="img/portfolio/paul.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Paul Rad</h3>
                </a>
                Associate Professor <br>University of Texas at San Antonio
            </div>

            <div class="col-md-4 text-center" id="S6" style="margin-bottom: 30px">
                <a href="https://www.iti.gr/iti/en/people/papadopoulos-symeon/" target="_blank">
                    <img src="img/portfolio/symeon.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Symeon Papadopoulos</h3>
                </a>
                Principal Researcher <br>Information Technologies Institute, Greece
            </div>

            <div class="col-md-3 text-center" id="S7" style="margin-bottom: 30px">
                <a href="https://ml-research.github.io/people/mbrack/" target="_blank">
                    <img src="img/portfolio/manuel.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Manuel Black</h3>
                </a>
                TU Darmstadt
            </div>

            <div class="col-md-3 text-center" id="S8" style="margin-bottom: 30px">
                <a href="https://www.linkedin.com/in/lin-ai/" target="_blank">
                    <img src="img/portfolio/lin.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Lin Ai</h3>
                </a>
                Columbia University
            </div>


            <div class="col-md-3 text-center" id="S9" style="margin-bottom: 30px">
                <a href="https://www.linkedin.com/in/marlyn-thomas-savio-phd-cpsychol/" target="_blank">
                    <img src="img/portfolio/marlyn.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Marlyn Thomas Savio</h3>
                </a>
                Senior Behavioral Scientist <br> TaskUs
            </div>

            <div class="col-md-3 text-center" id="S10" style="margin-bottom: 30px">
                <a href="https://kkundu10.github.io/" target="_blank">
                    <img src="img/portfolio/kaustav.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Kaustav Kundu</h3>
                </a>
                Research Scientist <br> AWS
            </div>
        </div>
    </div>
</section>