<section class="bg-gray" id="speakers">

      <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">SPEAKERS</h2>
                <hr class="primary">
            </div>
        </div>


        <div class="row no-gutter">

	    <div class="col-md-4" id="S1">
                    <a href="https://jankautz.com/" target="_blank" class="portfolio-box">
                        <img src="img/portfolio/JanKatuz.png" class="img-responsive" alt="">
                        <br><p>Jan Kautz</p>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Jan Kautz
                                </div>
                                <div class="project-name">
                                    Vice President of Learning and Perception Research at NVIDIA
                                </div>
                            </div>
                        </div>
                    </a>
            </div>

	    <div class="col-md-4" id="S2">
                    <a href="https://www.comp.nus.edu.sg/~ayao/" target="_blank" class="portfolio-box">
                        <img src="img/portfolio/AngelaYao.png" class="img-responsive" alt="">
                        <br><p>Angela Yao</p>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Angela Yao
                                </div>
                                <div class="project-name">
                                    Head of the Computer Vision and Machine Learning Group at NUS
                                </div>
                            </div>
                        </div>
                    </a>
            </div>

	    <div class="col-md-4" id="S3">
                <a href="https://people.csail.mit.edu/yalesong" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/YaleSong_FAIR.png" class="img-responsive" alt="">
                    <br><p>Yale Song</p>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Yale Song
                            </div>
                            <div class="project-name">
                                Research Scientist at Facebook AI Research
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4" style="align-content: right;" id="S4">
                <a href="https://anuragarnab.github.io/" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/AnuragArnab.png" class="img-responsive" alt="">
                    <br><p>Anurag Arnab</p>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Anurag Arnab
                            </div>
                            <div class="project-name">
                                Research Scientist at Google Research
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4" id="S5">
                    <a href="https://research.adobe.com/person/vishy-swaminathan/" target="_blank" class="portfolio-box">
                        <img src="img/portfolio/VishySwaminathan.png" class="img-responsive" alt="">
                        <br><p>Vishy Swaminathan</p>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Vishy Swaminathan
                                </div>
                                <div class="project-name">
                                    Senior Principal Scientist at Adobe
                                </div>
                            </div>
                        </div>
                    </a>
            </div>
	<!--
            <div class="col-md-4" id="S6">
                    <a href="https://www.cs.utexas.edu/users/grauman/" target="_blank" class="portfolio-box">
                        <img src="img/portfolio/KristenGrauman.png" class="img-responsive" alt="">
                        <br><p>Kristen Grauman</p>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Kristen Grauman
                                </div>
                                <div class="project-name">
                                    Professor in the Department of Computer Science at the University of Texas at Austin <br> Head of the UT-Austin Computer Vision Group
                                </div>
                            </div>
                        </div>
                    </a>
            </div>
            -->
        </div>

        </div>
    </div>
</section>